main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section {
    width: calc(100% - 10px);
    position: relative;
}

section.greeting {
    text-align: center;
    max-width: 100%;
    text-wrap: wrap;
}

section.cards {
    height: 410px;
    max-width: 500px;
    overflow: hidden;
}

.cardWrapper {
    position: absolute;
    height: 100%;
    max-height: 350px;
    bottom: 40px;
}

.cardWrapper#card1 {
    left: 41px;
    transform: rotate(-15deg);
    margin-bottom: -10px;
    animation: card1 3s cubic-bezier(1,0,.62,.89);
}

@keyframes card1 {
    0%{transform: rotate(0);margin-bottom: 0;margin-left: calc(50% - 168px);}
    100%{transform: rotate(-15deg);margin-bottom: -10px; margin-left: 0;}
}

.cardWrapper#card2 {
    left: calc(50% - 127px);
}

.cardWrapper#card3 {
    right: 41px;
    transform: rotate(15deg);
    margin-bottom: -10px;
    animation: card3 3s cubic-bezier(1,0,.62,.89);
}

@keyframes card3 {
    0%{transform: rotate(0);margin-bottom: 0;margin-right: calc(50% - 168px);}
    100%{transform: rotate(15deg);margin-bottom: -10px; margin-right: 0;}
}

.cardWrapper > img {
    height: 100%;
}

section.search {
    height: 25px;
    width: calc(100% - 60px);
    position: relative;

    border: 2px solid #b3c5f0;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 1px 3px 1px #b3c5f0;
}

section.search:hover {
    border-color: #d9e0f0;
}

input.searchbar {
    display: inline-block;
    width: calc(100% - 28px);
    height: 100%;
    padding: 0;
    padding-left: 3px;

    border: none;
    background-color: transparent;
    color: #d9e0f0;
}

input.searchbar:focus, input.searchbar:focus-within, input.searchbar:focus-visible {
    outline: none; 
}

label.searchbar {
    position: absolute;
    left: 10px;
    bottom: 0;
    margin-left: 0;
    margin-bottom: 0;
    height: fit-content;
    text-align: center;
    transition-duration: 0.2s;
    color: #d9e0f0;
    font-weight: 600;
}

input.searchbar:focus ~ label.searchbar, .removeLabel {
    margin-bottom: 25px !important;
    margin-left: -10px !important;
}

#startQuery {
    display: inline-block;
    height: 23px;
    width: 23px;
    padding: 1px;
    background-color: #b3c5f0;
    border: none;
}

#startQuery:hover, section.search:hover > #startQuery {
    cursor: pointer;
    background-color: #d9e0f0;
}

#suggBox {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.singleResult {
    display: inline-block;
    padding: 3px;
    background-color: rgb(31,35,45,.7);
    backdrop-filter: blur(3px);
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, .3);
    border-style: solid;
    margin: 2px;
    min-width: 40px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.1s;
    z-index: 999;  /*lljw🕊️*/
}

.singleResult:hover {
    box-shadow: 0 0 3px #fff inset ;
}

/* .pokemon {
    background-color: rgb(121, 121, 0,.3);
    border-color: rgb(247, 247, 132);
}
.series {
    background-color: rgb(0, 0, 122,.3);
    border-color: rgb(155, 155, 246);
}
.set {
    background-color: rgb(119, 0, 0,.3);
    border-color: rgb(242, 160, 160);
}
.user {
    background-color: rgb(0, 56, 0,.3);
    border-color: rgb(166, 250, 166);
} */