.zen-kaku-gothic-new-regular {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zen-kaku-gothic-new-black {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 900;
  font-style: normal;
}

:root {
    --blue-bg: #0a013a;
    --blue-accent: #b3c5f0;
    --blue-accent-light: #d4dff7;
    --blue-accent-trans: #a7bced6b;
    --yellow: #e0c127;
    --yellow-light: rgba(209, 186, 15, 0.4);

}

body {
    margin: 0;
    background-color: var(--blue-bg);
    color: #fff;
    min-height: 100vh;
    position: relative;
    font-family: "Zen Kaku Gothic New", Arial, Helvetica, sans-serif;
}

main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - 63px - 69px); /* gesamte höhe - header - nav = höhe main */
}

h1, h2 {
    font-weight: 900;
}

a {
    color: inherit;
}

.loadingSnail {
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: transparent;
    border-top: 2px solid var(--blue-accent);
    animation: snail 1s infinite linear ;
}

@keyframes snail {
    0%{rotate: 0deg;}
    100%{rotate: 360deg;}
}

/* Header Container */
header.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 2px solid var(--yellow);
    box-shadow: 0 1px 3px 1px var(--yellow-light);
    margin-bottom: 20px;
}

header.container > .logo {
    position: absolute;
    left: 20px;
    height: 40px;
    width: 40px;
}

header.container > .title {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 0;
    color: #fff;
    letter-spacing: 1px;
}


/* footer */
footer {
    height: 20px;
    margin-top: 20px;
}

/* navigation */
.navContainer {
    width: 84%;
    max-width: 350px;
    margin: 0 auto;
    height: 45px;
    padding: 10px 8%;
    position: sticky;
    bottom: 0;
    font-size: x-large;
}

nav {
    width: 100%;
    height: 100%;
    border: 2px solid var(--yellow);
    border-radius: 5px;
    box-shadow: 0 1px 3px 1px rgba(214, 216, 74, 0.4);
    backdrop-filter: blur(10px);
}

nav > ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

nav > ul > li {
    height: fit-content; 
    list-style: none;
}
nav > ul > li > a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

nav > ul > li > a::after {
    content: '';
    width: 100%;
    height: 1px;
    color: var(--yellow);
    right: 100%;
    bottom: -1px;
    position: absolute;
}

nav > ul > li > a:hover nav > ul > li > a::after {
    text-shadow: 0 0 2px var(--yellow);
};