header {
    margin-bottom: 0 !important;
}

main {
    height: calc(100vh - 43px);
    margin: auto;
    display: flex;
    justify-content: center ;
    overflow: hidden;
}

#webcamVideo {
    height: 100%;
}